*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32px;
}

form{
  padding: 32px;
  box-shadow: 0 0 6px 4px gray;
}

ul{
  margin-bottom: 32px;
}
legend{
  margin-bottom: 24px;
  font-family: serif;
  font-size: 48px;
}

label{
  text-transform: uppercase;
  font-size: 24px;
}
fieldset{
  padding: 0;
  border: 0;
}
li{
  list-style-type: none;
  margin-bottom: 24px;
}

input{
  display: flex;
  width: 320px;
  height: 52px;
  color: rgb(30, 30, 30);
  outline: none;
  padding: 0 16px;
  font-size: 24px;
}

button{
  background-color: purple;
  color: white;
  font-size: 16px;
  border: none;
  padding: 16px 24px;
  cursor: pointer;
  border: 10px;
  transition: background-color 0.1s;
  text-transform: uppercase;
}
button:hover{
  background-color: blueviolet;
}
form a{
  display: inline-flex;
  
}
